services:

  memcached1:
    image: "memcached:alpine"
    ports:
      - "11211:11211"

  memcached2:
    image: "memcached:alpine"
    command: [ '-p', '11212' ]
    ports:
      - "11212:11212"

  memcached3:
    image: "memcached:alpine"
    command: [ '-p', '11213', '--enable-ssl', '-o', 'ssl_chain_cert=/app/tests/acceptance/data/localhost.crt,ssl_key=/app/tests/acceptance/data/localhost.key' ]
    volumes:
      - "./:/app"
    ports:
      - "11213:11213"

  memcached4:
    image: "memcached:alpine"
    command: [ '-p', '11214', '-S', '-Y', '/app/tests/acceptance/data/auth_pwd.txt' ]
    volumes:
      - "./:/app"
    ports:
      - "11214:11214"

  memcached5:
    image: "memcached:alpine"
    command: [ '-p', '11215', '-A' ]
    ports:
      - "11215:11215"

  memcached6:
    image: "memcached:alpine"
    command: [ '-p', '11216', '-A' ]
    ports:
      - "11216:11216"

  memcached_unix1:
    image: "memcached:alpine"
    container_name: "memcached_unix1"
    command: [ '-s', '/tmp/emcache.test1.sock' ]
    volumes:
      - "/tmp:/tmp"

  memcached_unix2:
    image: "memcached:alpine"
    container_name: "memcached_unix2"
    command: [ '-s', '/tmp/emcache.test2.sock' ]
    volumes:
      - "/tmp:/tmp"
