name: CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Compile murmur3
      run: |
        cd vendor/murmur3
        make static
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        make install-dev
    - name: Lint with flake8
      run: |
        make lint
    - name: Memcached dependencies with Mac, by hand
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        brew install memcached
        memcached -d -p 11211
        memcached -d -p 11212
        memcached -d -p 11213 --enable-ssl -o ssl_chain_cert=./tests/acceptance/data/cert.pem,ssl_key=./tests/acceptance/data/key.pem
    - name: Docker dependencies
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        docker-compose up -d
    - name: Test
      run: |
        make test
    - name: Coverage
      run: |
        make coverage
