name: PyPi release
on:
  push:
    tags:
      - v*
jobs:
  build:
    outputs:
      version: ${{ steps.get_version.outputs.VERSION }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: [3.7, 3.8]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Generate macos-wheel
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        cd vendor/murmur3
        make static
        cd -
        python -m pip install --upgrade pip
        pip install wheel
        make compile
        python setup.py bdist_wheel
    - name: Generate manylinux1-wheel
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        mkdir /tmp/emcache
        cp -r . /tmp/emcache
        docker run -v /tmp/emcache:/io -e "PYTHON_VERSION=${{matrix.python-version}}" quay.io/pypa/manylinux1_x86_64 /io/bin/build_manylinux1_wheel.sh
    - name: Mac acceptance test dependencies
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        brew install memcached
        memcached -d -p 11211
        memcached -d -p 11212
    - name: Linux acceptance test dependencies
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        docker-compose up -d
    - name: Test generated wheel
      run: |
        mkdir test_wheel
        cp /tmp/emcache/dist/emcache-*.whl test_wheel
        cd test_wheel
        pip install virtualenv
        python -m virtualenv env
        source env/bin/activate
        rm -f ../.install-cython
        make -C ../vendor/murmur3 static
        make -C .. install-dev
        pip install emcache-*.whl --upgrade
        make -C .. test
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - uses: actions/upload-artifact@v2
      with:
        name: ${{ steps.get_version.outputs.VERSION }}
        path: test_wheel/emcache-*.whl
  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: ${{ needs.build.outputs.version }}
        path: wheelhouse/
    - name: Display content
      run: ls -R
      working-directory: wheelhouse/
    - name: Publish distribution to Test PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        packages_dir: wheelhouse/
        password: ${{ secrets.PYPI_TEST_RELEASE_UPLOAD }}
        repository_url: https://test.pypi.org/legacy/
